// 모바일 우선
// 그리도 시도............................
// .container{
//   position: relative;
// }
// .container::before{
//   content: '';
//   background: linear-gradient(90deg, rgba(191, 84, 137, 0.3) 10%, rgba(18, 71, 230, 0.4) 10% ,rgba(18, 71, 230, 0.4) 90%, rgba(191, 84, 137, 0.3) 10%);
//   z-index: 1000;
//   width: 480px;
//   height: 3384px;
//   position: absolute;
//   top: 0;
//   margin: 0 auto;
//   background-size: 25%;
// }
//
// @import "grid";
// @include container(480px, 30px);
// @include col-width(4, 90, 20);
// @include col(10px, 10px);

@import "grid";
@include container(480px);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.container{
  outline: black solid 1px;
}
body{
  font-family: "Nanum Gothic";
}

html,body,div,header,nav,section,aside,article,footer,figure,figcaption,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,fieldset{
  margin: 0;
  padding: 0;
 }
 ul{
   list-style-type: none;
   text-decoration: none;
 }
 a{
     text-decoration: none;
 }
// 헤더영역
header{
  background: #413e3d;
  box-sizing: border-box;
  padding: 23px 30px 23px 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 480px;
}
header label{
  box-sizing: border-box;
  width: 48px;
  height: 50px;
  padding: 9px;
}
header img:active{
  border: 1px solid #f3987b;
  padding: 8px;
}
header i{
  color: #f3987b;
}
header > i{
  height: 40px;
  box-sizing: border-box;
  padding-top: 10px;
}
.logo{
  font-size:18px;
  color: #f3987b;
  position: absolute;
  top: 41px;
  left: 64px;
  font-weight: 900;
}
input[type="checkbox"]{
  display: none;
}
input[type="checkbox"]:checked~ul{
  display: block;
}
label:active{
  border: 1px solid #f3987b;
}
.top-menu{
  text-transform: uppercase;
  display: none;
  position: absolute;
  top: 87px;
  left:0;
  background: #413e3d;
  text-align: center;
  z-index: 1000;
}
.top-menu a{
  color: white;
  font-size: 14px;
  display: block;
  box-sizing: border-box;
  width: 480px;
  // height: 72px;
  line-height: 72px;
}
.top-menu li{
  border-bottom: 1px solid #777;
}
.top-menu a:hover{
  color: #f3987b;
  background: #4d4b4a;
}
// 첫번째 플레이 섹션
.play-list{
  background: #f8d2c5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 288px;
  padding: 0 30px;
}
.play-icon{
  width: 86px;
  height: 87px;
}
.play-arrow-l, .play-arrow-r{
  height: 86px;
}

// 워크아티클 영역
.work{
  padding: 0 30px 24px 30px;
}
.work p{
  display: none;
}
.cloumn1 div, .cloumn2 div, .cloumn3 div{
  width: 420px;
  height: 264px;
  background: #dadee8;
}
.heading h2{
  color: #5a5e65;
  font-size: 24px;
  text-align: center;
  line-height: 96px;
}
.heading{
  display: flex;
  justify-content: space-between;
}
.head-line{
  width: 66px;
  height: 48px;
  border-bottom: 1px solid #5a5e65;
}
.cloumn1, .cloumn2, .cloumn3{
  position: relative;
  margin-bottom: 24px;
}
.cloumn1 img, .cloumn2 img, .cloumn3 img{
  margin: 106px 178px;
}
.cloumn1 a, .cloumn2 a, .cloumn3 a{
  background: #afb2ba;
  box-sizing: border-box;
  display: block;
  font-size: 18px;
  color: #fefefe;
  width: 420px;
  line-height: 48px;
  padding-left: 20px;
  position: absolute;
  top: 216px;
}

// 두번째 플레이색션
.play-list-2{
  background: #f8d2c5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 288px;
  padding: 0 30px;
  position: relative;
}
.page-num{
  position: absolute;
  right: 30px;
  top: 30px;
}

.page-num p{
  float: left;
  color: #fefefe;
}
.photo-icon{
  width: 86px;
  height: 87px;
}

// 피플영역
.people{
  padding: 0 30px 24px 20px;
}
.cloumn1-p, .cloumn2-p, .cloumn3-p, .cloumn4-p{
  display: flex;
  height: 120px;
  margin: 12px 0;
  align-items: center;
}
.col-contents{
  width: 225px;
  margin-left: 40px;
}
.col-contents a{
  color: #5a5e65;
  font-size: 18px;
  line-height: 24px;
}
.col-contents p{
  color: #5a5e65;
}
.cloumn3-p .col-contents, .cloumn4-p .col-contents{
  width: 260px;
}
//문의하기
.send-mail{
  padding: 0 30px;
}
.send-mail input{
  border: 1px solid #dadee8;
  border-radius: 3px;
  width: 420px;
  height: 48px;
  box-sizing: border-box;
  margin: 12px 0;
  padding-left: 20px;
}
section .your-message{
  height: 240px;
}
.send-message{
  color: #fefefe;
  font-size: 20px;
  width: 420px;
  height: 72px;
  box-sizing: border-box;
  background: #4d4b4a;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
// 푸터
footer{
  margin-top: 48px;
  background: #d6d2d1;
  box-sizing: border-box;
  height: 72px;
  text-align: center;
  padding: 24px;
}
@media screen and (max-width: 767px) {
  @include container(760px);
}
