@mixin container($container-width){
  .container{
    width: $container-width;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
.row::after{
  content: '';
  display: block;
  clear: both;
}
//거터 설정
@mixin col($margin-left, $margin-right){
  [class*="col-"]{
    float: left;
    margin-left: $margin-left;
    margin-right: $margin-right;
  }
}
// 그리드 넓이
// @mixin col-width($grid-num, $grid-width, $grid-gutter) {
//   .col-#{$grid-num}{
//     width: #{$grid-width * $grid-num + $grid-gutter * ($grid-num - 1)}px;
//   }
// }
$i : 1;
@mixin col-width($grid-columns, $grid-width, $grid-gutter) {
  @while $i <= $grid-columns {
    .col-#{$i}{
      width: #{$grid-width * $i + $grid-gutter * ($i - 1)}px;
    }
    $i: $i + 1;
  }
}
