*{
  box-sizing: border-box;
  margin: 0;
}
.container::after{
  content: '';
  display: block;
  clear: both;
}
.img-box{
  height: 0;
  float: left;
  overflow: hidden;
  position: relative;
}
/*여기에 둘을 묶어 position: absolute;를 준 것은 ?
 처음엔 안그랬는데 .set-height만 주면 그림이 크기가 0*0으로 된다.
 이미 위에서 float를 시켰기 때문에 높이를 모르는 것인가?
*/
.set-width{
  width: 100%;
  height: auto;
}
.set-height{
  width: auto;
  height: 100%;
}
@media screen and (max-width: 767px) {
 .container{
   width: 100%;
 }
 .img-box{
   width: 50%;
   padding-bottom: 50%;
 }
  .img-box img{
    position: absolute;
    width: 100%;
    height: 100%;
  }

}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .container{
    width: 90%;
    margin: 0 auto;
  }
 .img-box{
   width: 33.3333333%;
   padding-bottom: 33.333333333%;
 }
}
@media screen and (min-width: 960px) {
  .container{
    width: 80%;
    margin: 0 auto;
  }
  .img-box{
    width: 25%;
    padding-bottom: 25%;
  }
}
