.wrapper{
  display: flex;
  width: 80%;
  margin: 0 auto;
}
h1{
  text-align: center;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  margin: 0;
  padding: 100px;
  color: white;
}
[class*="line-"]{
  width: 25%;
  text-align: center;
}
.line-1{
  background: #ff7cbf;
}
.line-2{
  background: #5f8cf0;
}
.line-3{
  background: #f5de64;
}
.line-4{
  background: #64e77d;
}
.line-1 li.active{
  background: #cdc6c6;
}
.line-2 li.active{
  background: #cdc6c6;
}
.line-3 li.active{
  background: #cdc6c6;
}
.line-4 li.active{
  background: #cdc6c6;
}
