@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    font-family: 'Poppins', sans-serif;
}
html,body,div,header,nav,section,aside,article,footer,figure,figcaption,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,fieldset{
  margin: 0;
  padding: 0;
 }
.intro-contents, .features-contents, .content-contents, .action-contents, .clients-contents, .footer-contents{
    width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
}
.header{
    padding-top: 80px;
    width: 1140px;
    margin: 0 auto;
}
ul{
  list-style-type: none;
  text-decoration: none;
}
a{
    text-decoration: none;
}
.header::after{
  content: "";
  clear: both;
  display: block;
}
.logo{
    float: left;
    margin-right: 30px;
}
.logo > a{
    color: #03a67b;
}
.lnb{
    position: relative;
}
.lnb > li {
    float: left;
    padding: 15px 22px;
}
.lnb > li > a{
    color: rgba(51, 51, 51, 0.9);
}
.login, .signup{
    color: rgba(51, 51, 51, 0.9);
    font-size: 14px;
    float: right;
}
.login{
    position: relative;
    top:10px;
    margin-right: 20px;
}
.signup{
    border: 1px solid #03a67b;
    border-radius: 5px;
    padding: 10px 36px;
    color: #03a67b;
}
/*인트로 영역*/
.intro{
    height: 664px;
    border-bottom: 1px solid #ccc;
}
.intro-contents{
    height: 664px;
    padding-right:150px;
}
.intro-p{
    float: left;
    display: inline-block;
    width: 530px;
    position: relative;
    top: 200px;
    color: rgba(51, 51, 51, 0.6);
    font-size: 16px;
}
.intro-p h2{
    color: #333333;
    font-size: 52px;
}
.intro-p p{
     margin-bottom: 40px;
}
.intro input{
    box-sizing: border-box;
    display: inline-block;
    width: 290px;
    height: 50px;
    background: #f5f5f5;
    border: 0;
    border-radius: 3px 0 0 3px;
    padding-left: 10px;
}
.intro button{
    padding: 18px 67px 18px 67px;
    border: 0;
    border-radius: 0 3px 3px 0;
    color: white;
    background: #03a67b;
    margin-left: -5px;
}
.intro img{
    float: right;
    margin-top: 18px;
}
/*피쳐 영역*/
/*구분 바닥선*/
.features, .content, .action, .clients{
    border-bottom: 1px solid #ccc;
}
.features-contents{
    padding-top: 80px;
    height: 564px;
}
/*h2 제목 설정영역*/
.features-contents h2, .content-contents h2, .action-contents h2, .clients-contents h2{
    font-size: 44px;
    display: block;
    text-align: center;
    color: #333333;
}
/*h2 제목 바로 밑 본문 중앙정렬*/
.features-contents > p, .clients-contents > p{
    font-size: 16px;
    width: 690px;
    margin: 0 auto 60px auto;
    text-align: center;
    color: rgba(51, 51, 51, 0.5);
}
.features-column{
    display: flex;
    justify-content: space-between;
}
.features-column1, .features-column2, .features-column3{
    width: 367px;
}
.features-column img, .clients-column img{
    display: block;
    margin: 0 auto;
}
/*본문 중앙정렬*/
.features-column h3, .features-column p, .clients-column h3, .clients-column h4, .clients-column p{
    text-align: center;
}
/*본문 이미지와 문단 사이*/
.features-column h3, .clients-column h3{
    margin-top: 20px;
}
.features-column a, .clients-column a, .about-bar a{
    color: #333333;
}
.features-column p, .clients-column p{
    width: 340px;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.5);
    margin: 0 auto;
}
/*컨텐츠 영역*/
.content-contents{
    padding: 93px 0;
}
.content-contents h2{
    margin-bottom: 15px;
    color: #333333;
}
.content-contents img{
    display: block;
    margin: 0 auto;
}
/*액션 영역*/
.action-contents{
    padding: 90px 0;
}
.action-contents p{
    width: 560px;
    margin: -10px auto;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.6);
    text-align: center;
}
.action-btn{
    display: block;
    margin: 50px 0 30px 0;
    text-align: center;
}
.action-btn1{
    background: #03a67b;
    border-radius: 3px;
    padding: 20px 70px;
    color: white;
    margin-right: 12px;
}
.action-btn2{
    border: 2px solid #03a67b;
    padding: 18px 68px;
    border-radius: 3px;
    color: #03a67b;
}
/*클라이언트 영역*/
.clients-contents{
    padding: 80px 32px;
}
.clients-column{
    display: flex;
    justify-content: space-between;
}
.clients-column h4{
    color: rgba(51, 51, 51, 0.25);
}
.clients-column p{
    width: 300px;
}
/*푸터 영역*/
.footer-contents{
    display: flex;
    justify-content: space-between;
    padding: 65px 0;
}
.social{
    order: 3;
}
.about-bar{
    order: 2;
}
.copyright{
    order:1;
    color: rgba(51, 51, 51, 0.7);
}
.about-bar li{
    float: left;
}
.about-bar a{
    padding: 0 10px;
}
.social li{
    float: left;
}
.social a{
    padding: 0 7px;
}
