*{
  box-sizing: border-box;
}
body{
  height: 100vh;
}
/*[class*="box-"]{
  height: 0;*/
}

@media screen and (max-width: 767px) {

}
@media screen and (min-width: 768px) {
  .container{
    width: 80%;
    margin: 0 auto;
    /*display: flex;*/
  }
  [class*="layout"]{
    display: flex;
  }
  /*[class*="box-"]{
    width: 100%;
    padding-bottom: 100%;
    background: red;
    border: 1px solid black;
  }*/
  .layout-1{
    width: 25%;
  }
  .layout-2{
    width: 50%;
    /*display: flex;*/
    /*flex-direction: row;*/
  }
  .layout-3{
    width: 25%;
  }
  .box-1, .box-5{
    background: yellow;
  }

}
